<!DOCTYPE html>
<html>
<head>
  <title>Coming Soon</title>
  <style>
    body {
      background-color: #f5f5f5;
      font-family: Arial, sans-serif;
      text-align: center;
      padding-top: 100px;
    }
    
    h1 {
      font-size: 48px;
      color: #d42929;
    }
  </style>
</head>
<body>
  <h1>Oops!!!!!</h1>
  <h1>Sorry we are currently under maintainance</h1>
  <h2>We will be online soon</h2>
  <p>send your queries to adarshdevil225@gmail.com </p>
</body>
</html>
