<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/stylesheets/style.css">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
  <title>Warrior Fitflow</title>
</head>

<body>
  <nav class="navbar navbar-expand-lg bg-body-tertiary">
    <div class="container-fluid">
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav .blockquote m-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link" aria-current="page" href="/">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" aria-current="page" href="#head2">Gallery</a>
          </li>
          <li class="nav-item">
            <a target='blank' class="nav-link"
              href="https://www.google.com/maps/place/warrior+fitflow/@28.5057078,77.4145236,19.36z/data=!4m6!3m5!1s0x390ce9b59317709d:0xc6136c7c1466a0c8!8m2!3d28.5057221!4d77.4148961!16s%2Fg%2F11srmp3w3l?entry=ttu">Direction</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#head3">Contact us</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>


  <h3 class="head">Warrior Fitflow</h3>
  <p class="content">We are the biggest Calisthenics Arena in Noida</p>
  <p class="content">We offer wide range of services to help you reach your goals.</p>
  <p class="content">You can train with us for MMA , Calisthenics, Kickboxing, Boxing, Brazilian Jiu Jitsu</p>
  <p class="content">We also help you with your Nutrition</p>


  <h3 class="head2" id = "head2">Gallery</h3>
  <div class="container">
    <div class="row">
      <div class="col-lg-4 col-md-6 col-sm-12">
        <div class="image-container">
          <img src="https://lh3.googleusercontent.com/p/AF1QipNxWitOsJ1SVOvPOZgPLHGpipOJAictA2_96dHT=s1360-w1360-h1020"
            alt="Image 1" class="img-fluid">
        </div>
      </div>
      <div class="col-lg-4 col-md-6 col-sm-12">
        <div class="image-container">
          <img src="https://lh3.googleusercontent.com/p/AF1QipOqys9v7tgVLpZz2SZXPdjdgJphzhuIyK7gJwKS=s1360-w1360-h1020"
            alt="Image 2" class="img-fluid">
        </div>
      </div>
      <div class="col-lg-4 col-md-6 col-sm-12">
        <div class="image-container">
          <img src="https://lh3.googleusercontent.com/p/AF1QipM1-kZHHMTGM4ZwMCERj6Phm3qVKJa86UvgQV2i=s1360-w1360-h1020"
            alt="Image 3" class="img-fluid">
        </div>
      </div>
    </div>
    <div class='row'>
      <div class="col-lg-4 col-md-6 col-sm-12">
        <div class="image-container">
          <img src="https://lh3.googleusercontent.com/p/AF1QipOh0iMs2myEGtPlIVIj7ZWzqIqCjhLPMm0xOd0L=s1360-w1360-h1020"
            alt="Image 4" class="img-fluid">
        </div>
      </div>
      <div class="col-lg-4 col-md-6 col-sm-12">
        <div class="image-container">
          <img src="https://lh3.googleusercontent.com/p/AF1QipNt6q97UU6Cf9vHZGewGU_-MvxRZl_TNkWwnuQt=s1360-w1360-h1020"
            alt="Image 5" class="img-fluid">
        </div>
      </div>
      <div class="col-lg-4 col-md-6 col-sm-12">
        <div class="image-container">
          <img src="https://lh3.googleusercontent.com/p/AF1QipPNzC2tnx9SMasunXSOxFwBKxkPQ_dT4jzUjx0P=s1360-w1360-h1020"
            alt="Image 6" class="img-fluid">
        </div>
      </div>

    </div>
  </div>


  <h3 class="head2"><a class="nav-link buttono" target='blank'
      href="https://www.google.com/search?q=warrior+fitflow&sxsrf=APwXEdfuWY4vLYFIoRVo-5XmsRBuGi2VLg%3A1687770551101&source=hp&ei=t1WZZNO9BI-ToATPmIDIBw&iflsig=AOEireoAAAAAZJljx4nHuzvcQZQjykcdRjZfQOYzAVYM&oq=warrior&gs_lcp=Cgdnd3Mtd2l6EAEYADIHCCMQigUQJzIQCC4QFBCHAhDUAhCxAxCABDILCAAQgAQQsQMQgwEyEAguEIAEEBQQhwIQsQMQgwEyCwgAEIAEELEDEIMBMgsIABCABBCxAxCDATIQCC4QFBCHAhDUAhCxAxCABDILCAAQgAQQsQMQgwEyDgguEIAEELEDEIMBENQCMggIABCABBCxAzoECCMQJzoTCC4QigUQsQMQgwEQxwEQ0QMQQzoHCAAQigUQQzoNCAAQigUQsQMQgwEQQzoNCC4QigUQxwEQ0QMQQzoLCAAQigUQsQMQgwE6CAgAEIoFEJECOhAILhCABBAUEIcCELEDENQCOgsILhCABBCxAxCDAToICC4QgAQQsQNQAFj4B2CgFGgAcAB4AYABvgSIAfYLkgEHMC42LjUtMZgBAKABAQ&sclient=gws-wiz#lrd=0x390ce9b59317709d:0xc6136c7c1466a0c8,1,,,,">About
      us</a>
  </h3>

  <div class="container" id = "head3">
    <div class="row">
      <div class="col-lg-4 col-md-6 col-sm-12">
        <div class="button-container">
          <p>Contact us</p>
          <a href="tel:+918800453566" class="btn buttono">Call now</a>
          <p>8800453566</p>
        </div>
      </div>
      <div class="col-lg-4 col-md-6 col-sm-12">
        <div class="button-container">
          <p>Address</p>
          <a target="_blank" href="https://www.google.com/maps/place/warrior+fitflow/@28.5057268,77.4123212,17z/data=!3m1!4b1!4m6!3m5!1s0x390ce9b59317709d:0xc6136c7c1466a0c8!8m2!3d28.5057221!4d77.4148961!16s%2Fg%2F11srmp3w3l?entry=ttu" class="btn buttono">Get Direction</a>
          <p style="padding: 10px 30px;">vijay sri sports complex, Sector 141, Noida, Uttar Pradesh 201301</p>
        </div>
      </div>
      <div class="col-lg-4 col-md-6 col-sm-12">
        <div class="button-container">
          <p class = buttono>Social</p>
          <a class ="nav-link" href="https://www.instagram.com/warrior_fitflow" target="_blank"><img class = "icon" src="https://img.freepik.com/premium-vector/modern-badge-logo-instagram-icon_578229-124.jpg" alt="">@warrior_fitflow</a>

          
        </div>
      </div>
    </div>
  </div>


  <script src="/javascript/script.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz"
    crossorigin="anonymous"></script>
</body>

</html>